{% extends 'base.html' %} {% block content %}
<div
  class="container mt-5 alert-primary shadow"
  style="
    max-width: 600px;
    padding: 50px;
    border-radius: 10px;
  "
>
  <!-- Page heading -->
  <h3 class="text-center">Import Data To Database Tables</h3>

  <!-- Form to upload CSV file and select target database table -->
  <form
    action="{% url 'import_data' %}"
    method="POST"
    enctype="multipart/form-data"
    style="max-width: 600px; margin: auto; padding-top: 50px"
  >
    {% csrf_token %}
    <!-- Django template tag for CSRF protection -->

    <!-- File upload input field -->
    <div class="form-group">
      <label for="file_path">Upload CSV File</label>
      <input type="file" name="file_path" class="form-control" required />
    </div>

    <!-- Dropdown to select the database table -->
    <div class="form-group">
      <label for="model_name">Select Database Table</label>
      <select name="model_name" class="form-control" required>
        <option value="" disabled selected>Select</option>
        <!-- Default disabled option -->
        {% for model in custom_models%}
        <!-- Loop through custom_models passed from Django view -->
        <option value="{{ model }}">{{ model }}</option>
        <!-- Add each model as an option -->
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <input type="submit" value="Import Data" class="btn btn-primary" />
    </div>

    {% include 'alerts.html' %}
  </form>
</div>
{% endblock %}
